body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e2e8f6;
}

.title, .homepage-title {
    text-align: center;
    padding: 1rem;
    background-color: #097ff4;
    color: #f8feff;
    margin-bottom: 2rem;
    font-size: xx-large;
}

.center-container{
    display: flex;
    align-items: center;
}

.login-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #097ff4;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    color: #f8feff;
}

.login-title {
    color: #f8feff;
    font-size: x-large;
}

.big-login-container {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.small-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #097ff4;
}

.big-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}


.homepage-body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 16px;
}

.homepage-title {
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0;
}

.sidebar {
  min-width: 19rem;
  background: #52c8fe;
  box-sizing: border-box;
  padding: 1rem;
}

.card {
  border: 0.05rem solid #eee;
  background-color: #f8feff;;
  box-shadow: 0.1rem 0.25rem 1rem rgba(0,0,0,.06);
  border-radius: 0.25rem;
  margin: 1rem;
  padding: 1rem;
  width: 13rem;
  max-height: 26rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.middle-page {
  flex: 1;
  display: flex;
}

.card-list {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

a.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  font-size: large;
  text-align: center;
  max-width: 4rem;
  border-radius: 3px;
  color: buttontext;
  background-color: #FF7F7F;
  text-decoration: none;
}

a.greenbutton {
  background-color: #90ee90;
}